    /*
    Flaticon icon font: Flaticon
    Creation date: 14/03/2018 18:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-hot-coffee:before { content: "\f100"; }
.flaticon-flame:before { content: "\f101"; }
.flaticon-people:before { content: "\f102"; }
.flaticon-computer-4:before { content: "\f103"; }
.flaticon-circles:before { content: "\f104"; }
.flaticon-unlink:before { content: "\f105"; }
.flaticon-asterisk:before { content: "\f106"; }
.flaticon-sun:before { content: "\f107"; }
.flaticon-night-symbol-of-the-moon-with-a-cloud-and-stars:before { content: "\f108"; }
.flaticon-blackberry:before { content: "\f109"; }
.flaticon-hierarchy:before { content: "\f10a"; }
.flaticon-windows-on-phone:before { content: "\f10b"; }
.flaticon-safari-1:before { content: "\f10c"; }
.flaticon-android:before { content: "\f10d"; }
.flaticon-telemarketer:before { content: "\f10e"; }
.flaticon-coding-2:before { content: "\f10f"; }
.flaticon-programmer:before { content: "\f110"; }
.flaticon-shapes:before { content: "\f111"; }
.flaticon-minus:before { content: "\f112"; }
.flaticon-qr-code-3:before { content: "\f113"; }
.flaticon-inbox-1:before { content: "\f114"; }
.flaticon-grid:before { content: "\f115"; }
.flaticon-qr-code-2:before { content: "\f116"; }
.flaticon-settings-1:before { content: "\f117"; }
.flaticon-pay:before { content: "\f118"; }
.flaticon-business-1:before { content: "\f119"; }
.flaticon-advertising:before { content: "\f11a"; }
.flaticon-qr-code-1:before { content: "\f11b"; }
.flaticon-coding-1:before { content: "\f11c"; }
.flaticon-id-card-1:before { content: "\f11d"; }
.flaticon-qr-code:before { content: "\f11e"; }
.flaticon-tag:before { content: "\f11f"; }
.flaticon-bars:before { content: "\f120"; }
.flaticon-chrome:before { content: "\f121"; }
.flaticon-blog:before { content: "\f122"; }
.flaticon-technology-1:before { content: "\f123"; }
.flaticon-trash:before { content: "\f124"; }
.flaticon-computer-3:before { content: "\f125"; }
.flaticon-computer-2:before { content: "\f126"; }
.flaticon-computer-1:before { content: "\f127"; }
.flaticon-music:before { content: "\f128"; }
.flaticon-shield:before { content: "\f129"; }
.flaticon-computer:before { content: "\f12a"; }
.flaticon-coding:before { content: "\f12b"; }
.flaticon-edit:before { content: "\f12c"; }
.flaticon-send-1:before { content: "\f12d"; }
.flaticon-resize:before { content: "\f12e"; }
.flaticon-wireframe:before { content: "\f12f"; }
.flaticon-send:before { content: "\f130"; }
.flaticon-link:before { content: "\f131"; }
.flaticon-translate:before { content: "\f132"; }
.flaticon-layers-1:before { content: "\f133"; }
.flaticon-money-1:before { content: "\f134"; }
.flaticon-safari:before { content: "\f135"; }
.flaticon-exit:before { content: "\f136"; }
.flaticon-windows:before { content: "\f137"; }
.flaticon-internet-explorer:before { content: "\f138"; }
.flaticon-maximize:before { content: "\f139"; }
.flaticon-columns:before { content: "\f13a"; }
.flaticon-user:before { content: "\f13b"; }
.flaticon-planet-earth:before { content: "\f13c"; }
.flaticon-desktop:before { content: "\f13d"; }
.flaticon-apple:before { content: "\f13e"; }
.flaticon-list-2:before { content: "\f13f"; }
.flaticon-logout:before { content: "\f140"; }
.flaticon-ads:before { content: "\f141"; }
.flaticon-linux:before { content: "\f142"; }
.flaticon-locked:before { content: "\f143"; }
.flaticon-users-1:before { content: "\f144"; }
.flaticon-users:before { content: "\f145"; }
.flaticon-navigation:before { content: "\f146"; }
.flaticon-microphone:before { content: "\f147"; }
.flaticon-switch-1:before { content: "\f148"; }
.flaticon-home:before { content: "\f149"; }
.flaticon-switch:before { content: "\f14a"; }
.flaticon-more-1:before { content: "\f14b"; }
.flaticon-more:before { content: "\f14c"; }
.flaticon-garbage:before { content: "\f14d"; }
.flaticon-search:before { content: "\f14e"; }
.flaticon-key:before { content: "\f14f"; }
.flaticon-alarm-1:before { content: "\f150"; }
.flaticon-alarm:before { content: "\f151"; }
.flaticon-settings:before { content: "\f152"; }
.flaticon-controls:before { content: "\f153"; }
.flaticon-bookmark:before { content: "\f154"; }
.flaticon-layers:before { content: "\f155"; }
.flaticon-cloud-computing:before { content: "\f156"; }
.flaticon-database-1:before { content: "\f157"; }
.flaticon-add:before { content: "\f158"; }
.flaticon-play-button:before { content: "\f159"; }
.flaticon-repeat:before { content: "\f15a"; }
.flaticon-font-size:before { content: "\f15b"; }
.flaticon-picture:before { content: "\f15c"; }
.flaticon-pin-code:before { content: "\f15d"; }
.flaticon-row:before { content: "\f15e"; }
.flaticon-column:before { content: "\f15f"; }
.flaticon-inbox:before { content: "\f160"; }
.flaticon-interface:before { content: "\f161"; }
.flaticon-chat:before { content: "\f162"; }
.flaticon-graph:before { content: "\f163"; }
.flaticon-coins:before { content: "\f164"; }
.flaticon-multimedia-1:before { content: "\f165"; }
.flaticon-multimedia:before { content: "\f166"; }
.flaticon-photo-camera:before { content: "\f167"; }
.flaticon-money:before { content: "\f168"; }
.flaticon-signs-1:before { content: "\f169"; }
.flaticon-mail-1:before { content: "\f16a"; }
.flaticon-mail:before { content: "\f16b"; }
.flaticon-upload:before { content: "\f16c"; }
.flaticon-download:before { content: "\f16d"; }
.flaticon-id-card:before { content: "\f16e"; }
.flaticon-business:before { content: "\f16f"; }
.flaticon-copy:before { content: "\f170"; }
.flaticon-speech-bubble-1:before { content: "\f171"; }
.flaticon-speech-bubble:before { content: "\f172"; }
.flaticon-menu:before { content: "\f173"; }
.flaticon-next:before { content: "\f174"; }
.flaticon-police:before { content: "\f175"; }
.flaticon-seo-label:before { content: "\f176"; }
.flaticon-light-bulb:before { content: "\f177"; }
.flaticon-arrow:before { content: "\f178"; }
.flaticon-keywords:before { content: "\f179"; }
.flaticon-devices-1:before { content: "\f17a"; }
.flaticon-devices:before { content: "\f17b"; }
.flaticon-support:before { content: "\f17c"; }
.flaticon-smartphone:before { content: "\f17d"; }
.flaticon-download-arrow:before { content: "\f17e"; }
.flaticon-up-arrow:before { content: "\f17f"; }
.flaticon-circle:before { content: "\f180"; }
.flaticon-board-games-with-roles:before { content: "\f181"; }
.flaticon-password:before { content: "\f182"; }
.flaticon-code:before { content: "\f183"; }
.flaticon-server-1:before { content: "\f184"; }
.flaticon-server:before { content: "\f185"; }
.flaticon-networking:before { content: "\f186"; }
.flaticon-minimize:before { content: "\f187"; }
.flaticon-list-1:before { content: "\f188"; }
.flaticon-list:before { content: "\f189"; }
.flaticon-apps:before { content: "\f18a"; }
.flaticon-note:before { content: "\f18b"; }
.flaticon-eye:before { content: "\f18c"; }
.flaticon-speedometer:before { content: "\f18d"; }
.flaticon-technology:before { content: "\f18e"; }
.flaticon-world-wide-web:before { content: "\f18f"; }
.flaticon-euro-symbol:before { content: "\f190"; }
.flaticon-dollar-sing:before { content: "\f191"; }
.flaticon-printer:before { content: "\f192"; }
.flaticon-computer-screen:before { content: "\f193"; }
.flaticon-show-more-button-with-three-dots:before { content: "\f194"; }
.flaticon-ellipsis:before { content: "\f195"; }
.flaticon-switch-vertical-orientation-arrows:before { content: "\f196"; }
.flaticon-facebook-logo:before { content: "\f197"; }
.flaticon-dollars-bills:before { content: "\f198"; }
.flaticon-arrows:before { content: "\f199"; }
.flaticon-add-circular-button:before { content: "\f19a"; }
.flaticon-brush-and-canvas-painting-artistic-tools:before { content: "\f19b"; }
.flaticon-linkedin-logo:before { content: "\f19c"; }
.flaticon-tool:before { content: "\f19d"; }
.flaticon-strikethrough:before { content: "\f19e"; }
.flaticon-paint-palette-board-with-paint-brush:before { content: "\f19f"; }
.flaticon-painting-palette-board-outline:before { content: "\f1a0"; }
.flaticon-underline-text-option:before { content: "\f1a1"; }
.flaticon-bold-text-option:before { content: "\f1a2"; }
.flaticon-italicize-text:before { content: "\f1a3"; }
.flaticon-align-to-left:before { content: "\f1a4"; }
.flaticon-align-to-right:before { content: "\f1a5"; }
.flaticon-align-justify:before { content: "\f1a6"; }
.flaticon-database:before { content: "\f1a7"; }
.flaticon-signs:before { content: "\f1a8"; }
.flaticon-smartphone-screen:before { content: "\f1a9"; }
.flaticon-page-blank:before { content: "\f1aa"; }
.flaticon-new-blank-page:before { content: "\f1ab"; }
.flaticon-open-blank-book:before { content: "\f1ac"; }
.flaticon-decrease-font-size:before { content: "\f1ad"; }
.flaticon-firefox-logotype:before { content: "\f1ae"; }
.flaticon-view:before { content: "\f1af"; }
    
    $font-Flaticon-hot-coffee: "\f100";
    $font-Flaticon-flame: "\f101";
    $font-Flaticon-people: "\f102";
    $font-Flaticon-computer-4: "\f103";
    $font-Flaticon-circles: "\f104";
    $font-Flaticon-unlink: "\f105";
    $font-Flaticon-asterisk: "\f106";
    $font-Flaticon-sun: "\f107";
    $font-Flaticon-night-symbol-of-the-moon-with-a-cloud-and-stars: "\f108";
    $font-Flaticon-blackberry: "\f109";
    $font-Flaticon-hierarchy: "\f10a";
    $font-Flaticon-windows-on-phone: "\f10b";
    $font-Flaticon-safari-1: "\f10c";
    $font-Flaticon-android: "\f10d";
    $font-Flaticon-telemarketer: "\f10e";
    $font-Flaticon-coding-2: "\f10f";
    $font-Flaticon-programmer: "\f110";
    $font-Flaticon-shapes: "\f111";
    $font-Flaticon-minus: "\f112";
    $font-Flaticon-qr-code-3: "\f113";
    $font-Flaticon-inbox-1: "\f114";
    $font-Flaticon-grid: "\f115";
    $font-Flaticon-qr-code-2: "\f116";
    $font-Flaticon-settings-1: "\f117";
    $font-Flaticon-pay: "\f118";
    $font-Flaticon-business-1: "\f119";
    $font-Flaticon-advertising: "\f11a";
    $font-Flaticon-qr-code-1: "\f11b";
    $font-Flaticon-coding-1: "\f11c";
    $font-Flaticon-id-card-1: "\f11d";
    $font-Flaticon-qr-code: "\f11e";
    $font-Flaticon-tag: "\f11f";
    $font-Flaticon-bars: "\f120";
    $font-Flaticon-chrome: "\f121";
    $font-Flaticon-blog: "\f122";
    $font-Flaticon-technology-1: "\f123";
    $font-Flaticon-trash: "\f124";
    $font-Flaticon-computer-3: "\f125";
    $font-Flaticon-computer-2: "\f126";
    $font-Flaticon-computer-1: "\f127";
    $font-Flaticon-music: "\f128";
    $font-Flaticon-shield: "\f129";
    $font-Flaticon-computer: "\f12a";
    $font-Flaticon-coding: "\f12b";
    $font-Flaticon-edit: "\f12c";
    $font-Flaticon-send-1: "\f12d";
    $font-Flaticon-resize: "\f12e";
    $font-Flaticon-wireframe: "\f12f";
    $font-Flaticon-send: "\f130";
    $font-Flaticon-link: "\f131";
    $font-Flaticon-translate: "\f132";
    $font-Flaticon-layers-1: "\f133";
    $font-Flaticon-money-1: "\f134";
    $font-Flaticon-safari: "\f135";
    $font-Flaticon-exit: "\f136";
    $font-Flaticon-windows: "\f137";
    $font-Flaticon-internet-explorer: "\f138";
    $font-Flaticon-maximize: "\f139";
    $font-Flaticon-columns: "\f13a";
    $font-Flaticon-user: "\f13b";
    $font-Flaticon-planet-earth: "\f13c";
    $font-Flaticon-desktop: "\f13d";
    $font-Flaticon-apple: "\f13e";
    $font-Flaticon-list-2: "\f13f";
    $font-Flaticon-logout: "\f140";
    $font-Flaticon-ads: "\f141";
    $font-Flaticon-linux: "\f142";
    $font-Flaticon-locked: "\f143";
    $font-Flaticon-users-1: "\f144";
    $font-Flaticon-users: "\f145";
    $font-Flaticon-navigation: "\f146";
    $font-Flaticon-microphone: "\f147";
    $font-Flaticon-switch-1: "\f148";
    $font-Flaticon-home: "\f149";
    $font-Flaticon-switch: "\f14a";
    $font-Flaticon-more-1: "\f14b";
    $font-Flaticon-more: "\f14c";
    $font-Flaticon-garbage: "\f14d";
    $font-Flaticon-search: "\f14e";
    $font-Flaticon-key: "\f14f";
    $font-Flaticon-alarm-1: "\f150";
    $font-Flaticon-alarm: "\f151";
    $font-Flaticon-settings: "\f152";
    $font-Flaticon-controls: "\f153";
    $font-Flaticon-bookmark: "\f154";
    $font-Flaticon-layers: "\f155";
    $font-Flaticon-cloud-computing: "\f156";
    $font-Flaticon-database-1: "\f157";
    $font-Flaticon-add: "\f158";
    $font-Flaticon-play-button: "\f159";
    $font-Flaticon-repeat: "\f15a";
    $font-Flaticon-font-size: "\f15b";
    $font-Flaticon-picture: "\f15c";
    $font-Flaticon-pin-code: "\f15d";
    $font-Flaticon-row: "\f15e";
    $font-Flaticon-column: "\f15f";
    $font-Flaticon-inbox: "\f160";
    $font-Flaticon-interface: "\f161";
    $font-Flaticon-chat: "\f162";
    $font-Flaticon-graph: "\f163";
    $font-Flaticon-coins: "\f164";
    $font-Flaticon-multimedia-1: "\f165";
    $font-Flaticon-multimedia: "\f166";
    $font-Flaticon-photo-camera: "\f167";
    $font-Flaticon-money: "\f168";
    $font-Flaticon-signs-1: "\f169";
    $font-Flaticon-mail-1: "\f16a";
    $font-Flaticon-mail: "\f16b";
    $font-Flaticon-upload: "\f16c";
    $font-Flaticon-download: "\f16d";
    $font-Flaticon-id-card: "\f16e";
    $font-Flaticon-business: "\f16f";
    $font-Flaticon-copy: "\f170";
    $font-Flaticon-speech-bubble-1: "\f171";
    $font-Flaticon-speech-bubble: "\f172";
    $font-Flaticon-menu: "\f173";
    $font-Flaticon-next: "\f174";
    $font-Flaticon-police: "\f175";
    $font-Flaticon-seo-label: "\f176";
    $font-Flaticon-light-bulb: "\f177";
    $font-Flaticon-arrow: "\f178";
    $font-Flaticon-keywords: "\f179";
    $font-Flaticon-devices-1: "\f17a";
    $font-Flaticon-devices: "\f17b";
    $font-Flaticon-support: "\f17c";
    $font-Flaticon-smartphone: "\f17d";
    $font-Flaticon-download-arrow: "\f17e";
    $font-Flaticon-up-arrow: "\f17f";
    $font-Flaticon-circle: "\f180";
    $font-Flaticon-board-games-with-roles: "\f181";
    $font-Flaticon-password: "\f182";
    $font-Flaticon-code: "\f183";
    $font-Flaticon-server-1: "\f184";
    $font-Flaticon-server: "\f185";
    $font-Flaticon-networking: "\f186";
    $font-Flaticon-minimize: "\f187";
    $font-Flaticon-list-1: "\f188";
    $font-Flaticon-list: "\f189";
    $font-Flaticon-apps: "\f18a";
    $font-Flaticon-note: "\f18b";
    $font-Flaticon-eye: "\f18c";
    $font-Flaticon-speedometer: "\f18d";
    $font-Flaticon-technology: "\f18e";
    $font-Flaticon-world-wide-web: "\f18f";
    $font-Flaticon-euro-symbol: "\f190";
    $font-Flaticon-dollar-sing: "\f191";
    $font-Flaticon-printer: "\f192";
    $font-Flaticon-computer-screen: "\f193";
    $font-Flaticon-show-more-button-with-three-dots: "\f194";
    $font-Flaticon-ellipsis: "\f195";
    $font-Flaticon-switch-vertical-orientation-arrows: "\f196";
    $font-Flaticon-facebook-logo: "\f197";
    $font-Flaticon-dollars-bills: "\f198";
    $font-Flaticon-arrows: "\f199";
    $font-Flaticon-add-circular-button: "\f19a";
    $font-Flaticon-brush-and-canvas-painting-artistic-tools: "\f19b";
    $font-Flaticon-linkedin-logo: "\f19c";
    $font-Flaticon-tool: "\f19d";
    $font-Flaticon-strikethrough: "\f19e";
    $font-Flaticon-paint-palette-board-with-paint-brush: "\f19f";
    $font-Flaticon-painting-palette-board-outline: "\f1a0";
    $font-Flaticon-underline-text-option: "\f1a1";
    $font-Flaticon-bold-text-option: "\f1a2";
    $font-Flaticon-italicize-text: "\f1a3";
    $font-Flaticon-align-to-left: "\f1a4";
    $font-Flaticon-align-to-right: "\f1a5";
    $font-Flaticon-align-justify: "\f1a6";
    $font-Flaticon-database: "\f1a7";
    $font-Flaticon-signs: "\f1a8";
    $font-Flaticon-smartphone-screen: "\f1a9";
    $font-Flaticon-page-blank: "\f1aa";
    $font-Flaticon-new-blank-page: "\f1ab";
    $font-Flaticon-open-blank-book: "\f1ac";
    $font-Flaticon-decrease-font-size: "\f1ad";
    $font-Flaticon-firefox-logotype: "\f1ae";
    $font-Flaticon-view: "\f1af";