// Text
$header-text-dark-mode-color:  #fff;
$body-text-dark-mode-color: #fff;

// Background.
$body-dark-mode-bg-color: #16191D;

$widget-dark-mode-bg-color: #252930;

// Border
$border-dark-mode-color: #111315;