// Text
$header-text-light-mode-color:  #162d3d;
$body-text-light-mode-color:  #162d3d;

// Background.
$body-light-mode-bg-color: #f8f8f8;

$widget-light-mode-bg-color: #fff;

// Border
$border-light-mode-color: #f3f3f3;